#
# koji-hub is an xmlrpc interface to the Koji database
#

Alias /kojihub /usr/share/koji-hub/kojixmlrpc.py

<Directory "/usr/share/koji-hub">
    Options ExecCGI
    SetHandler wsgi-script
{% if ansible_distribution_major_version == '7' %}
    Require all granted
{% endif %}
{% if ansible_distribution_major_version == '6' %}
    #If you have httpd <= 2.2, you'll want the following two lines instead
    #of the one above:
    Order allow,deny
    Allow from all
{% endif %}
</Directory>

# Also serve /mnt/koji
Alias /kojifiles "/mnt/koji/"

<Directory "/mnt/koji">
    Options Indexes FollowSymLinks
    AllowOverride None
{% if ansible_distribution_major_version == '7' %}
    Require all granted
{% endif %}
{% if ansible_distribution_major_version == '6' %}
    #If you have httpd <= 2.2, you'll want the following two lines instead
    #of the one above:
    Order allow,deny
    Allow from all
{% endif %}
{% if koji_hub_force_kojifiles_over_ssl %}
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{REMOTE_ADDR} !^{{ ansible_eth0.ipv4.address | regex_replace('\.','\\.') }}$
RewriteRule ^/?(.*) https://%{SERVER_NAME}/kojifiles/$1 [R,L]
{% endif %}
</Directory>

# uncomment this to enable authentication via SSL client certificates
{% if koji_hub_ssl %}
<Location /kojihub/ssllogin>
        SSLVerifyClient require
        SSLVerifyDepth  10
        SSLOptions +StdEnvVars
</Location>
{% endif %}
